.inside {
  display: flex;
}

.middle {
  flex: 3;
}

.search-input {
  width: 350px;
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.slider {
  width: 500px;
  height: 300px;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: pink;
  height: 300px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: lightgreen;
}

.employees-table {
  margin-bottom: 200px;
}

.employees-table {
  margin-bottom: 200px;
}

.pdfbutton {
  align-items: flex-start;
  align-content: flex-start;
  height: 50px;
  background-color: goldenrod;
  margin-top: 4px;
  margin-bottom: 6px;
}

#pdfbutton {
  height: 15px;
}

.pdfButton {
  height: 40px;
  justify-content: start;
  align-items: start;
  align-content: start;
}

.pdfButton #pdfbutton {
  position: inherit;
  height: 25px;
  margin-top: 5px;
  margin-right: 930px;
}

.Typography {
  text-align: left;
  margin-left: 30px;
}

/* .paragraph {
  font-family: "serif";
  text-align: "justify";
  margin-left: 20;
  width: 700px;
} */
